<%- include("../partials/header") %>

<div class="row">
    <div class="col-md-4">
        <h2><%= user.username %></h2>
        <img src="<%= user.avatar %>" alt="user profile image">
    </div>
</div>
<a href="/campgrounds">Go Back</a>     
<%- include("../partials/footer") %>        
